*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(15,15,15,.95);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    z-index:1000;
    border-bottom:1px solid #222;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#ff2d2d;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
    font-size:18px;
}

nav a:hover{
    color:#ff2d2d;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
    url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#ddd;
    margin-bottom:30px;
}

.search-box{
    width:90%;
    max-width:600px;
    margin:auto;
}

.search-box input{
    width:100%;
    padding:18px;
    border:none;
    border-radius:40px;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 40px;
    background:#ff2d2d;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
}

section{
    padding:90px 8%;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}
